.Launches-form {
  display: flex;
  flex-direction: row;
}
.Error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #e74c3c;
  color: #fff;
  padding: 1em;
  margin: 1em 0;
  font-weight: bold;
}
